.horizontal {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    align-items: stretch !important;
}

.text-block {
    display: flex !important;
    justify-self: left !important;
    flex-direction: column !important;
    max-width: 50% !important;
}

.quote {
    margin: 10px !important;
    text-align: justify !important;
    font-size: 24px !important;
}

iframe {
    width: 1200px !important;
    height: 550px !important;
}

.text {
    display: block !important;
    text-align: justify!important;
}
